* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.checked {
  color: gold;
}

.bookmark {
  height: 50px;
  width: 290px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
}

.bookmark.expanded {
  height: fit-content;
}

.bookmark-rating {
  margin-top: 3px;
}

.error-container p {
  color: red;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 980px) {

}